In [1]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_colwidth', 100)

import re
import string
import nltk

from textblob import TextBlob, Word
from wordcloud import WordCloud

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv("../../../data/archive/reviews-1-115.csv")
df2 = pd.read_csv("../../../data/archive/reviews-115-1230.csv")
df3 = pd.read_csv("../../../data/archive/reviews-1230-2345.csv")
df4 = pd.read_csv("../../../data/archive/reviews-2345-4575.csv")
df5 = pd.read_csv("../../../data/archive/reviews-4575-6805.csv")
df6 = pd.read_csv("../../../data/archive/reviews-6805-9035.csv")
df7 = pd.read_csv("../../../data/archive/reviews-9035-11265.csv")
df8 = pd.read_csv("../../../data/archive/reviews-11265-13495.csv")
df9 = pd.read_csv("../../../data/archive/reviews-13495-13500.csv")
df10 = pd.read_csv("../../../data/archive/reviews-13500-13537.csv")
df11 = pd.read_csv("../../../data/archive/reviews-13537-27075.csv")

In [3]:
display(df1.info(), df2.info(), df3.info(), df4.info(), df5.info(), df6.info(), df7.info(), df8.info(), df9.info(), df10.info(), df11.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460621 entries, 0 to 1460620
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   steamid                 1460621 non-null  int64
 1   appid                   1460621 non-null  int64
 2   voted_up                1460621 non-null  bool
 3   votes_up                1460621 non-null  int64
 4   votes_funny             1460621 non-null  int64
 5   weighted_vote_score     1460621 non-null  float64
 6   playtime_forever        1460621 non-null  int64
 7   playtime_at_review      1460621 non-null  int64
 8   num_games_owned         1460621 non-null  int64
 9   num_reviews             1460621 non-null  int64
 10  review                  1458810 non-null  object
 11  unix_timestamp_created  1460621 non-null  int64
 12  unix_timestamp_updated  1460621 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 135.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2403364 entries, 0 to 2403363
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   steamid                 int64
 1   appid                   int64
 2   voted_up                bool
 3   votes_up                int64
 4   votes_funny             int64
 5   weighted_vote_score     float64
 6   playtime_forever        int64
 7   playtime_at_review      int64
 8   num_games_owned         int64
 9   num_reviews             int64
 10  review                  object
 11  unix_timestamp_created  int64
 12  unix_timestamp_updated  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 222.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3067681 entries, 0 to 3067680
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   steamid                 int64
 1   appid                   int64
 2   voted_up                bool
 3   votes_up                int64
 4   votes_funny             int64
 5   weighted_vote_score     float64
 6   playtime_forever        int64
 7   playtime_at_review      int64
 8   num_games_owned         int64
 9   num_reviews             int64
 10  review                  object
 11  unix_timestamp_created  int64
 12  unix_timestamp_updated  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 283.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318769 entries, 0 to 2318768
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   steamid                 int64
 1   appid                   int64
 2   voted_up                bool
 3   votes_up                int64
 4   votes_funny             int64
 5   weighted_vote_score     float64
 6   playtime_forever        int64
 7   playtime_at_review      int64
 8   num_games_owned         int64
 9   num_reviews             int64
 10  review                  object
 11  unix_timestamp_created  int64
 12  unix_timestamp_updated  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 214.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1962065 entries, 0 to 1962064
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   steamid                 int64
 1   appid                   int64
 2   voted_up                bool
 3   votes_up                int64
 4   votes_funny             int64
 5   weighted_vote_score     float64
 6   playtime_forever        int64
 7   playtime_at_review      int64
 8   num_games_owned         int64
 9   num_reviews             int64
 10  review                  object
 11  unix_timestamp_created  int64
 12  unix_timestamp_updated  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 181.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190385 entries, 0 to 1190384
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   steamid                 1190385 non-null  int64
 1   appid                   1190385 non-null  int64
 2   voted_up                1190385 non-null  bool
 3   votes_up                1190385 non-null  int64
 4   votes_funny             1190385 non-null  int64
 5   weighted_vote_score     1190385 non-null  float64
 6   playtime_forever        1190385 non-null  int64
 7   playtime_at_review      1190385 non-null  int64
 8   num_games_owned         1190385 non-null  int64
 9   num_reviews             1190385 non-null  int64
 10  review                  1188515 non-null  object
 11  unix_timestamp_created  1190385 non-null  int64
 12  unix_timestamp_updated  1190385 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 110.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623042 entries, 0 to 623041
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   steamid                 623042 non-null  int64
 1   appid                   623042 non-null  int64
 2   voted_up                623042 non-null  bool
 3   votes_up                623042 non-null  int64
 4   votes_funny             623042 non-null  int64
 5   weighted_vote_score     623042 non-null  float64
 6   playtime_forever        623042 non-null  int64
 7   playtime_at_review      623042 non-null  int64
 8   num_games_owned         623042 non-null  int64
 9   num_reviews             623042 non-null  int64
 10  review                  622065 non-null  object
 11  unix_timestamp_created  623042 non-null  int64
 12  unix_timestamp_updated  623042 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 57.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947866 entries, 0 to 947865
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   steamid                 947866 non-null  int64
 1   appid                   947866 non-null  int64
 2   voted_up                947866 non-null  bool
 3   votes_up                947866 non-null  int64
 4   votes_funny             947866 non-null  int64
 5   weighted_vote_score     947866 non-null  float64
 6   playtime_forever        947866 non-null  int64
 7   playtime_at_review      947866 non-null  int64
 8   num_games_owned         947866 non-null  int64
 9   num_reviews             947866 non-null  int64
 10  review                  946618 non-null  object
 11  unix_timestamp_created  947866 non-null  int64
 12  unix_timestamp_updated  947866 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 87.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   steamid                 150 non-null    int64
 1   appid                   150 non-null    int64
 2   voted_up                150 non-null    bool
 3   votes_up                150 non-null    int64
 4   votes_funny             150 non-null    int64
 5   weighted_vote_score     150 non-null    float64
 6   playtime_forever        150 non-null    int64
 7   playtime_at_review      150 non-null    int64
 8   num_games_owned         150 non-null    int64
 9   num_reviews             150 non-null    int64
 10  review                  150 non-null    object
 11  unix_timestamp_created  150 non-null    int64
 12  unix_timestamp_updated  150 non-null    int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 14.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8086 entries, 0 to 8085
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   steamid                 8086 non-null   int64
 1   appid                   8086 non-null   int64
 2   voted_up                8086 non-null   bool
 3   votes_up                8086 non-null   int64
 4   votes_funny             8086 non-null   int64
 5   weighted_vote_score     8086 non-null   float64
 6   playtime_forever        8086 non-null   int64
 7   playtime_at_review      8086 non-null   int64
 8   num_games_owned         8086 non-null   int64
 9   num_reviews             8086 non-null   int64
 10  review                  8070 non-null   object
 11  unix_timestamp_created  8086 non-null   int64
 12  unix_timestamp_updated  8086 non-null   int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 766.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455442 entries, 0 to 1455441
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   steamid                 1455442 non-null  int64
 1   appid                   1455442 non-null  int64
 2   voted_up                1455442 non-null  bool
 3   votes_up                1455442 non-null  int64
 4   votes_funny             1455442 non-null  int64
 5   weighted_vote_score     1455442 non-null  float64
 6   playtime_forever        1455442 non-null  int64
 7   playtime_at_review      1455442 non-null  int64
 8   num_games_owned         1455442 non-null  int64
 9   num_reviews             1455442 non-null  int64
 10  review                  1452657 non-null  object
 11  unix_timestamp_created  1455442 non-null  int64
 12  unix_timestamp_updated  1455442 non-null  int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 134.6+ MB

None

None

None

None

None

None

None

None

None

None

None

In [4]:
df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11] # for future reference, remember that df_list[0] is now a different dataframe stored in a different spot in memory
                                                                    # and /= df1

total_rows = 0
for each in df_list:
    total_rows += each.shape[0]
    
print("Rows count before drop: ", total_rows) #sanity check

# so unfortunately, there's far too many rows in the combined dataset to actually put in a dataframe
# first I'm going to drop columns that I don't need for NLP and see if I can combine them that way
# also dropping nulls because a couple sets have some

col = ["steamid", "appid", "votes_up", "votes_funny", "weighted_vote_score", "playtime_forever", "playtime_at_review", "num_games_owned", "num_reviews", "unix_timestamp_created", "unix_timestamp_updated"]
drop_rows = 0
for ind in range(len(df_list)):
    df_list[ind] = df_list[ind].drop(col, axis=1)
    df_list[ind] = df_list[ind].dropna()
    drop_rows += df_list[ind].shape[0]

print("Rows count after drop: ", drop_rows) #sanity check

Rows count before drop:  15437471
Rows count after drop:  15413766

In [5]:
# we appear to have kept all of our rows, let's check .head(3) to make sure
for ind in range(len(df_list)):
    display(df_list[ind].head(3))

,voted_up,review
0,True,best gameplay ever created
1,True,Timeless. Thank you volvo.
2,True,this game literally made me love guns and fps game. what else could i say?

,voted_up,review
0,True,It's a good game!
1,False,"This game is fantastic IF AND ONLY IF you can play it without Steam's involvement in any way, sh..."
2,True,Great game!

,voted_up,review
0,True,A masterpiece that is extremely underrated. This game (series) is probably the most depressing t...
1,True,Amazing!!!
2,False,The latest update forces the install of some Rockstar launcher which completely broke the game f...

,voted_up,review
0,True,"It's fun game, developed with love."
1,True,"Fun game, easy to pick up at any time."
2,True,"This is my favorite roguelite of all time. Easy to get into and tough to master, this game is ba..."

,voted_up,review
0,False,"While this game seems promising, it's really just a bugged-out mess that was clearly abandoned a..."
1,False,"Fuck this game. No updates, no nothing. Just Trash."
2,False,"Nothing about this game should have legally been allow to be a sold product in its current, bugg..."

,voted_up,review
0,True,"very fine co-op game, excellent simplicity, joyful, a good take-away !"
1,True,nice game.
2,False,"When the highlight of a game for me is Spaceballs references (the greatest comedy of all-time), ..."

,voted_up,review
0,True,got it bc of Sodapoppin
1,True,"Nice if you have friends, though if you don't it's still a good challenge"
2,True,"played it with my brother and absolutely loved it, we had so many laughs, till i couldnt breathe..."

,voted_up,review
0,False,yes//... steam overlay are for pussies..\nand yes... again rpgmaker with 99423492349with free i...
1,True,"I liked it a lot, has spelling errors and fights tend to last too long. Has old crappy RPG feel ..."
2,True,i recommend and dont recommend this game depending on wich kind of gamer you are. if you guys li...

,voted_up,review
0,True,This is a awsome game. \nThe wait time for PVP is about 1min on average \nEach match takes about...
1,True,Great quick free strategy game. Perfect game when you have 10 minutes to spend !
2,True,Fun little card-based civ building duelling game. A bit like Through the Ages which is a huge r...

,voted_up,review
0,False,Game is amazing. But there is a camera sway when you swing weapons that you can't toggle off whi...
1,True,YES.
2,True,Very Cool concept but with the platforming and how hard it can be to block sometimes makes the g...

,voted_up,review
0,True,Minus the quiet communication (other players seem softer than normal so you have to talk louder ...
1,True,yeah.
2,True,Playing this game was the most fun I have ever had in a long time

In [6]:
# what we need for NLP is there, but pd.concat still isn't quite hanndling it the way we need
# what I can do is fabricate some smaller csvs using train test split (it appears that pandas stops at ~3.06 million rows for this data)
# did some math on the side, 19.5% gets us close to our 3.06 million rows

# so in order to make a single dataset that's representative of our whole, I need to train test split each df and then combine the test splits into one new_df
# and from that hopefully 3 million sized df of random reviews from all of these I can then create train, validation, and test csvs for us to model from in reasonable time

# so there's an additional problem, our laptops struggle to train on a dataset larger than 9 thousand reviews
# I'm going to use train test split to create dataset of roughly that amount
# gonna do that in two splits, and from that create a train, validation, and 
# .0015
rows = 0
for ind in range(len(df_list)):
    y = df_list[ind]["voted_up"] #need to turn this column into 01 format later
    X = df_list[ind].drop("voted_up", axis=1)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=57, test_size=0.195)
    df_list[ind] = pd.concat([X_test, y_test], axis=1)
    rows += df_list[ind].shape[0]

In [7]:
rows

3005689

In [8]:
df = df_list[0]
for ind in range(1,11):
    new_df = pd.concat([df, df_list[ind]])
    df = new_df

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3005689 entries, 383902 to 612926
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   review    object
 1   voted_up  bool
dtypes: bool(1), object(1)
memory usage: 48.7+ MB

In [10]:
# so this should be a dataset representative of each of the different CSV
# now all I need to do is get a train set of roughly 8k rows, a validation and test set of however big we want
# and save those as CSVs for modeling later

df.reset_index(drop=True, inplace=True) #run this once
df.head()

,review,voted_up
0,A great puzzle game almost anyone can enjoy.It has a cool and humorous storyline I can definantl...,True
1,Nice game !,True
2,good game,True
3,"Hey Gaben, it's free to play now, can I get a refund?",False
4,"DEN HÄRA GLOCK ER DELI BRUSHAN. MIN GLOCK 18 FÖRLÄNG KAN PANGA ALLT BRUSHAN, I LIKE CUNTER STIRK...",True

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3005689 entries, 0 to 3005688
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   review    object
 1   voted_up  bool
dtypes: bool(1), object(1)
memory usage: 25.8+ MB

In [12]:
# real quick I'm going to save this as a new csv for potential later use
df.to_csv("../../../data/NLP/combined_split_reviews.csv", index=False)

In [13]:
# because 3 mil is still too big to make models from using our wimpy laptops, going to use this to create a train, validate, and test csv

X = df.drop("voted_up", axis=1)
y = df["voted_up"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=57, test_size=0.006) # 0.006 gets us 18k rows, which i'll then split into the train, val, and test csv

In [14]:
X_test.shape #confirming we have the desired # of rows

(18035, 1)

In [15]:
temp_df = pd.concat([X_test, y_test], axis=1)
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18035 entries, 26470 to 1022222
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   review    18035 non-null  object
 1   voted_up  18035 non-null  bool
dtypes: bool(1), object(1)
memory usage: 299.4+ KB

In [16]:
X = temp_df.drop("voted_up", axis=1)
y = temp_df["voted_up"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=57, test_size=0.5)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, random_state=57, test_size=0.5)

In [17]:
train_df = pd.concat([X_train, y_train], axis=1)
val_df = pd.concat([X_val, y_val], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

train_df.reset_index(drop=True, inplace=True) #run this once
val_df.reset_index(drop=True, inplace=True) #run this once
test_df.reset_index(drop=True, inplace=True) #run this once

display(train_df.shape, val_df.shape, test_df.shape)
display(train_df.head(3), val_df.head(3), test_df.head(3))

(9017, 2)

(4509, 2)

(4509, 2)

,review,voted_up
0,A+++++++,True
1,Wide spread crashes on Nvidia grpahics cards and amateur hour with relying on too many external ...,False
2,Can confirm the roads in New Vegas look exactly like the roads here in Vegas in 2020,True

,review,voted_up
0,.,True
1,"\nI love this game, too bad I cant play the 3rd until 2020 :(",True
2,"Aside from the stupid marketing decision of making Titans a separate game, Planetary Annihilatio...",True

,review,voted_up
0,HEY THAT'S PRETTY GOOD!,True
1,GREAT,True
2,"This game, this game right here is really, really awesome! It's like playing with legos, on the ...",True

In [18]:
train_df.to_csv("../../../data/NLP/train.csv", index=False)
val_df.to_csv("../../../data/NLP/validate.csv", index=False)
test_df.to_csv("../../../data/NLP/test.csv", index=False)